# List

The list is a most versatile datatype available in Python which can be written as a list of comma-separated items between square brackets. 

=> Mutable

=> Holds mixed datatypes(integer, float, string, list)

=> Repetitive elements are allowed within a list

=> Preserves the order

In [256]:
#Creating a List

list1 = ['abc', 123, 24.5, [1,2,3], True]
print("list1:\n",list1,"\n")

list1:
 ['abc', 123, 24.5, [1, 2, 3], True]

In [257]:
#Accessing items from the List

print("Example for Forward indexing:\nlist1[4]:", list1[4])
print("list1[3][1]:", list1[3][1])


print("\nExample for Reverse indexing:\nlist1[-3]:", list1[-3])
print("list1[-2][0]:", list1[-2][0])

Example for Forward indexing:
list1[4]: True
list1[3][1]: 2

Example for Reverse indexing:
list1[-3]: 24.5
list1[-2][0]: 1

### List Functions

-> len(), Gives the total length of the list.

-> any(), Returns True if even one item in the Python list has a True value and False for an empty iterable.

-> max(), Returns item from the list with maximum value

-> min(), Returns item from the list with mininum value

-> sorted(), Returns a sorted version of the list, but does not change the original one.

In [258]:
list2 = [567,'GHI', 345, 23.5, 'XYZ']
list3= [879, 67567.9, 11122273, 5674.0]

print("list2:\n",list2,"\n")
print("list3:\n",list3,"\n")

#len()
print("Length of the List:\n ", len(list2),"\n")

#any()
print("Is there any items present in the List:\n ", any(list2),"\n")

#max()
print("Highest Item from list3 is :\n", max(list3),"\n")

#min()
print("Lowest Item from list3 is :\n", min(list3),"\n")

#sorted()
print("The list3 sorted in ascendng order:\n ", sorted(list3),"\n")

list2:
 [567, 'GHI', 345, 23.5, 'XYZ']

list3:
 [879, 67567.9, 11122273, 5674.0]

Length of the List:
  5

Is there any items present in the List:
  True

Highest Item from list3 is :
 11122273

Lowest Item from list3 is :
 879

The list3 sorted in ascendng order:
  [879, 5674.0, 67567.9, 11122273]

### List Methods

-> append(), It adds an item to the end of the list.

-> insert(), It inserts an item at a specified position.

-> remove(), It removes the first instance of an item from the Python list.

-> pop(), It removes the element at the specified index, and prints it to the screen.

-> clear(), It empties the Python list.

In [259]:
list4 = ['XYZ',879, 123, 24.5, [1,2,3], 4598]
print("list4:\n",list4,"\n")

#append()
list4.append(879)
print("append(), add an item 'XYZ' to the end of the list:\n ",list4,"\n" )

#insert()
list4.insert(2,'ABC')
print("insert(),  insert 'ABC' at the 2nd position:\n ",list4,"\n" )


#remove()
list4.remove(879)
print("remove(), removes the first instance of item 879 from the Python list:\n ",list4 ,"\n")


#pop()
list4.pop(2)
print("pop(), removes the element of 2nd index:\n ",list4 ,"\n")


#clear()
list4.clear()
print("clear(), empties the list \nlist4:",list4 )

list4:
 ['XYZ', 879, 123, 24.5, [1, 2, 3], 4598]

append(), add an item 'XYZ' to the end of the list:
  ['XYZ', 879, 123, 24.5, [1, 2, 3], 4598, 879]

insert(),  insert 'ABC' at the 2nd position:
  ['XYZ', 879, 'ABC', 123, 24.5, [1, 2, 3], 4598, 879]

remove(), removes the first instance of item 879 from the Python list:
  ['XYZ', 'ABC', 123, 24.5, [1, 2, 3], 4598, 879]

pop(), removes the element of 2nd index:
  ['XYZ', 'ABC', 24.5, [1, 2, 3], 4598, 879]

clear(), empties the list
list4: []

# Dictionary

A Python dictionary holds key-value pairs {key:value}

-> Holds Mixed Datatypes(includes lists and tuples)

-> Preserves the order

-> Allows to create dataframes

-> Indexing isn't supported instead the values are accessed using Keys

-> Keys should be unique, if same key names are present then while accessing the old key will be replaced with new key

-> Values could be repetitive

In [260]:
#creating a dictionary
dict1 = {'Name': 'John', 'Age': 20, 'Class': 'First'}

print("dict1:\n",dict1,"\n")

dict1:
 {'Name': 'John', 'Age': 20, 'Class': 'First'}

### Dictionary Functions

-> len(), Returns the length of the dictionary in Python. Every key-value pair adds 1 to the length.

-> any(), Returns True if even one key in a dictionary has a Boolean value of True.

-> all(), Returns True only if all the keys in the dictionary have a Boolean value of True.

-> type(), Returns the type of the passed variable. If passed variable is dictionary, then it would return a dictionary type.

-> sorted(), Returns a sorted sequence of the keys in the dictionary. The sorting is in ascending order, 
             and doesnâ€™t modify the original Python dictionary.

In [261]:
#len()
print("Length of the Dictionary:\n ", len(dict1),"\n")

#any()
print("If even one key in dict1 has a Boolean value:\n", any(dict1),"\n")

#all()
print("If all the keys in dict1 has a Boolean value:\n",all(dict1),"\n")

#type()
print("Type of dict1:\n",type(dict1),"\n")

#sorted()
print("Sort dict1 in ascending order:\n",sorted(dict1),"\n")

Length of the Dictionary:
  3

If even one key in dict1 has a Boolean value:
 True

If all the keys in dict1 has a Boolean value:
 True

Type of dict1:
 <class 'dict'>

Sort dict1 in ascending order:
 ['Age', 'Class', 'Name']

### Dictionary Methods

-> keys(), Returns a list of keys in a Python dictionary.

-> values(), Returns a list of values in the dictionary.

-> items(), Returns a list of key-value pairs.

-> pop(), Remove and display an item from the dictionary. It takes one to two arguments.

-> clear(), Empties the Python dictionary.

In [262]:
#keys()
print("Length of the Dictionary:\n ",dict1.keys(),"\n")

#values()
print("Values present in dict1:\n",dict1.values(),"\n")

#items()
print("Items present in dict1:\n",dict1.items(),"\n")

#pop()
print("Remove Age item from dict1:\n",dict1.pop('Age'),"\n")

#clear()
dict1.clear()
print("Clear the items present in dict1\n dict1:",dict1)

Length of the Dictionary:
  dict_keys(['Name', 'Age', 'Class'])

Values present in dict1:
 dict_values(['John', 20, 'First'])

Items present in dict1:
 dict_items([('Name', 'John'), ('Age', 20), ('Class', 'First')])

Remove Age item from dict1:
 20

Clear the items present in dict1
 dict1: {}

# Sets

In Python sets are written with curly brackets { }

-> Mutable

-> Holds Mixed Datatypes

-> Unique elements allowed

-> Doesn't preserve the order

-> Indexing isn't supported 

-> List cannot be a part of sets

In [263]:
set1={1.0,1,"Hello","Manish",(1,2,4)} 
print("Set1:", set1) 

set2 = {1,2,3,5,7,6,4,3.0,2,10,38,72,16} 
print("Set2: ", set2)

Set1: {1.0, (1, 2, 4), 'Hello', 'Manish'}
Set2:  {1, 2, 3, 4, 5, 6, 7, 38, 72, 10, 16}

### Sets Functions

-> len(), Returns the length of a set. This is the number of elements in it.

-> max(), Returns the item from the set with the highest value.

-> min(), Returns the item in the Python set with the lowest value.

-> any(), Returns True even if one item in the set has a Boolean value of True.

-> sorted(), Returns a sorted python set to list. It is sorted in ascending order, but it doesnâ€™t modify the original set.

In [264]:
#len()
print("Length of set1:\n", len(set1),"\n")

#max()
print("Highest item present in set2:\n",max(set2),"\n")

#min()
print("Lowest item present in set2:\n",min(set2),"\n")

#any()
print("If one item in set1 has a Boolean value:\n",any(set1),"\n")

#sorted()
print("Sorts set2 in ascending order:\n",sorted(set2),"\n")

Length of set1:
 4

Highest item present in set2:
 72

Lowest item present in set2:
 1

If one item in set1 has a Boolean value:
 True

Sorts set2 in ascending order:
 [1, 2, 3, 4, 5, 6, 7, 10, 16, 38, 72]

### Set Methods

-> union(), performs the union operation on two or more Python sets.

-> intersection(), takes as argument sets, and returns the common items in all the sets.

-> difference(), returns the difference of two or more sets. It returns as a set.

-> add(), Adds an element to the set

-> clear(), Empties the Python set.

In [265]:
setA = {1,2,3,4,5,9}
setB = {4,5,6,7,8,10}
setC = {2,5,6,7}

print("Items present in setA:\n",setA,"\n")
print("Items present in setB:\n",setB,"\n")
print("Items present in setC:\n",setC,"\n")

#uinion()
print("Union of setA and setB(setA | setB):\n",setA.union(setB),"\n")

#intersection()
print("Intersection(setA & setB):\n",setA.intersection(setB),"\n")

#difference()
print("Difference(setB-setA):\n",setB.difference(setA),"\n")

#add()
setC.add('abc')
print("Added an element 'abc' to setC:\n",setC,"\n")

#clear()
setC.clear()
print("Clears the elements present in set\n setC:",setC)

Items present in setA:
 {1, 2, 3, 4, 5, 9}

Items present in setB:
 {4, 5, 6, 7, 8, 10}

Items present in setC:
 {2, 5, 6, 7}

Union of setA and setB(setA | setB):
 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Intersection(setA & setB):
 {4, 5}

Difference(setB-setA):
 {8, 10, 6, 7}

Added an element 'abc' to setC:
 {2, 5, 6, 7, 'abc'}

Clears the elements present in set
 setC: set()

# Tuple

In Python tuples are written with round brackets ( ).

-> Immutable

-> Holds Mixed datatypes

-> Repetitive elements allowed

-> Preserves the order

In [266]:
tup1 = (5,'python',10+2j,5)

print("tup1:\n",tup1,"\n")

tup2 = (3,1,2,5,4,6,3,1,3)
print("tup2:\n",tup2,"\n")

tup1:
 (5, 'python', (10+2j), 5)

tup2:
 (3, 1, 2, 5, 4, 6, 3, 1, 3)

### Tuple Functions

-> len(), Returns its length.

-> max(), returns the item from the tuple with the highest value.

-> sum(), Returns the arithmetic sum of all the items in the tuple.

-> min(), Returns the item with the lowest values.

-> sorted(), Returns a sorted version of the tuple, sorting is in ascending order, and it doesnâ€™t modify the original tuple.

In [267]:
#len()
print("Length of tup1:\n",len(tup1),"\n")

#max()
print("Highest value presnt in tup1:\n",max(tup2),"\n")

#sum()
print("Sum of tup1:\n",sum(tup2),"\n")

#min()
print("Lowest value present in tup1:\n",min(tup2),"\n")

#sorted()
print("Sort tup1 in ascending order:\n",sorted(tup2),"\n")

Length of tup1:
 4

Highest value presnt in tup1:
 6

Sum of tup1:
 28

Lowest value present in tup1:
 1

Sort tup1 in ascending order:
 [1, 1, 2, 3, 3, 3, 4, 5, 6]

### Tuple Methods

-> count(), Returns the number of times a specified value occurs in a tuple

-> index(), Searches the tuple for a specified value and returns the position of where it was found

In [268]:
print("tup2 elements:\n",tup2,"\n")

#count()
print("Number of times 3 has occured in tup1:\n",tup2.count(3),"\n")

#index()
print("Element 2 is in the position :\n",tup2.index(2),"\n")

tup2 elements:
 (3, 1, 2, 5, 4, 6, 3, 1, 3)

Number of times 3 has occured in tup1:
 3

Element 2 is in the position :
 2

# Strings

In [269]:
str1 = 'Hello World'
print("str1:\n",str1,"\n")

str2="""Python is a programming language.
Python is interesting.
this is it."""
print("str2:\n",str2,"\n","\n")

str1:
 Hello World

str2:
 Python is a programming language.
Python is interesting.
this is it.

### Strings Methods

-> endswith(), Returns True if the string it is applied on ends with the string in the argument.

-> lower(), Converts a string into lower case

-> split(), Splits the string at the specified separator, and returns a list

-> upper(), Converts a string into upper case

-> replace(), It takes two arguments. The first is the substring to be replaced. The second is the substring to replace with.

In [270]:
str3 = "python,is,a,programming language."
print("str3:\n",str3,"\n")

#endswith()
print("Does str1 endswith ld:\n",str1.endswith('ld'),"\n")

#lower()
print("Lower Case of str1:\n",str1.lower(),"\n")

#split()
print("Split str3 based on comma:\n",str3.split(sep=","),"\n")

#upper()
print("Upper Case of str1:\n",str1.upper(),"\n")

#replace()
print("Happy Diwali".replace("p","d"),"\n")

str3:
 python,is,a,programming language.

Does str1 endswith ld:
 True

Lower Case of str1:
 hello world

Split str3 based on comma:
 ['python', 'is', 'a', 'programming language.']

Upper Case of str1:
 HELLO WORLD

Haddy Diwali